<div class="breadcrumb-wrap bg-f br-bg-1">
    <div class="overlay op-8 bg-white"></div>
    <div class="container">
    <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1">
    <div class="breadcrumb-title">
    <h2>Course Details</h2>
    <ul class="breadcrumb-menu list-style">
    <li><a href="/">Home </a></li>
    <li>Description Faculte</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>


    <section class="course-details-wrap ptb-100 bg-selago">
        <div class="container">
        <div class="row gx-5">
        <div class="col-xl-8 col-lg-12">
        <div class="course-details">
        <div class="course-details-img">
        <img src="/assets/img/courses/single-course-1.jpg" alt="Image">
        </div>
       
        <div class="course-description">
        <h3>Faculté des Sciences Administratives Jérusalem - FASAJ</h3>
        <p style="text-align:justify">Présentation

            Fondée en 2019, la FASAJ  a commencé à former des jeunes pour devenir de véritables gestionnaires, administrateurs et des entrepreneurs avisés.
            
            La Faculté des Sciences Administratives Jérusalem (FASAJ) de l’Université Jérusalem de Pignon, Haiti est fondée pour contribuer au progrès économique d'Haïti au moyen de la formation de qualité, de la recherche scientifique, du service à la communauté, du point de vue des sciences administratives.
            
            L'UJEPH recrute des enseignants chevronnés pour transmettre le savoir et le savoir-faire à ses étudiants. Pour répondre aux besoins du marché du travail, la FASAJ prépare  des licencés qualifiés.</p>
        <h5 class="course-details-title">Contenu du programme</h5>
        <div style="text-align:justify">
        <ul class="course-details-list list-style">
        <li><i class="las la-check-circle"></i>Une formation globale qui comporte des cours de français, sociologie, anglais, mathématiques, travail intellectuel, informatique nécessaires pour mettre les étudiants à niveau </li>
        <li><i class="las la-check-circle"></i>Une formation basique qui comporte des cours d’économie, de droit, de fiscalité qui permettent aux étudiants de situer les entreprises dans leur contexte et de comprendre les enjeux de leur fonctionnement</li>
        <li><i class="las la-check-circle"></i>une formation de spécialité qui comporte des cours de gestion comme comptabilité, principes de gestion, gestion des ressources humaines, gestion financière, gestion de projet, marketing, gestion de la production, leadership, création d’entreprise, stratégie, étude marché, théorie des organisations, comportement organisationnel</li>
  
        </ul>
    </div>
       
       
       
        </div>
        </div>
        </div>
        <div class="col-xl-4 col-lg-12">
        <div class="course-details-widget sidebar-box">
        <h3 class="box-title">Informations</h3>
        <ul class="list-style">
        <li>
        <p><i class="las la-user-graduate"></i> ID Faculte</p>
        <p>FASAJ</p>
        </li>
        <li>
        <p><i class="las la-university"></i>Cycle</p>
        <p>4 ans</p>
        </li>
        <li>
        <p><i class="las la-graduation-cap"></i>Niveau</p>
        <p>Licence</p>
        </li>
        <li>
        <p><i class="las la-book-open"></i>Semestre</p>
        <p>8</p>
        </li>

        </ul>
        <button class="btn style7 d-block w-100 mt-25">S'inscrire</button>
        </div>
        <div class="course-details-widget sidebar-box">
        <div class="row">
        <div class="col-xl-12 offset-xl-0 col-lg-6 offset-lg-3">
        <h3 class="box-title">Doyen(ne)</h3>
        <div class="instructor-card style2">
        <div class="instructor-img">
        <img src="/assets/img/instructor/instructor-6.jpg" alt="Image">
        </div>
        <div class="instructor-info">
        <div class="instructor-social">
        <span><i class="flaticon-share"></i></span>
        <ul class="social-profile style1 list-style">
        <li><a target="_blank" href="https://facebook.com/"><i class="lab la-facebook-f"></i> </a></li>
        <li><a target="_blank" href="https://linkedin.com/"> <i class="lab la-linkedin-in"></i> </a></li>
        <li><a target="_blank" href="https://twitter.com/"> <i class="lab la-twitter"></i> </a></li>
        <li><a target="_blank" href="https://instagram.com/"> <i class="lab la-instagram"></i> </a></li>
        </ul>
        </div>
        <div class="instructor-name">
        <h6><a href="instructor-profile.html">Wilmide Lucien</a></h6>
        
        </div>
        </div>
        </div>
         </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>