<div class="breadcrumb-wrap bg-f br-bg-1">
    <div class="overlay op-8 bg-white"></div>
    <div class="container">
    <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1">
    <div class="breadcrumb-title">
    <h2>Course Details</h2>
    <ul class="breadcrumb-menu list-style">
    <li><a href="/">Home </a></li>
    <li>Description Faculte</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>


    <section class="course-details-wrap ptb-100 bg-selago">
        <div class="container">
        <div class="row gx-5">
        <div class="col-xl-8 col-lg-12">
        <div class="course-details">
        <div class="course-details-img">
        <img src="/assets/img/courses/single-course.jpg" alt="Image">
        </div>
       
        <div class="course-description">
        <h3>Faculté d'Agronomie Jérusalem (FAJ)</h3>
        <p style="text-align:justify">Présentation

            Le régime en vigueur à la Faculté d'Agronomie de l'UJEPH est la promotion par matière. Le programme d’études qui conduisent à la Licence en Sciences Agricoles s’étale sur une durée de cinq (5) ans. </p>
        
        <div style="text-align:justify">
        <ul class="course-details-list list-style">
        <li><i class="las la-check-circle"></i>Un étudiant qui au cours de la première année n’a pas obtenu la moyenne cumulative de 65% minimum après
            les reprises refaire la classe. L’étude est sanctionnée par un certificat ou une licence en Sciences Agricoles (travail de recherche soutenu et réussi) </li>
        <li><i class="las la-check-circle"></i>  Le Président du conseil de l’université « le Rév. Dr Jephthé Lucien » est prêt à fournir de la 
            nourriture et du logement gratuit à chaque étudiant de la FAUJEPH, mais en retour chacun d’entre eux doit fournir environ 20 heures de travaux par semaine dans la ferme agricole de l’UJEPH</li>
        <li><i class="las la-check-circle"></i>une formation de spécialité qui comporte des cours de gestion comme comptabilité, principes de gestion, gestion des ressources humaines, gestion financière, gestion de projet, marketing, gestion de la production, leadership, création d’entreprise, stratégie, étude marché, théorie des organisations, comportement organisationnel</li>
  
        </ul>
    </div>
       
        </div>

        <div class="course-description">
           
            <h5 class="course-details-title">Organisation des études</h5>
            <h6 class="course-details-title">La faculté prépare des licenciés en Sciences Agricoles (Ingénieurs Agronomes) et elle se donne pour responsabilités : </h6>
            <div style="text-align:justify">
            <ul class="course-details-list list-style">
            <li><i class="las la-check-circle"></i>De dispenser des cours réguliers échelonnés sur une période de cinq (5) ans ou 10 semestres  </li>
            <li><i class="las la-check-circle"></i> D’organiser des cours intensifs et des séminaires, conférence et colloques</li>
            <li><i class="las la-check-circle"></i>De conduire des études dans les domaines de : Société et Bible, Economie Agricole, Pratique</li>
            <li><i class="las la-check-circle"></i>Agricole, Science du Sol, Stage, Recherche Agricole, Sciences Animales, Horticulture, 
                Entomologie, Mathématiques et des cours communs et optionnels</li>
      
            </ul>
        </div>
           
            </div>
        <div class="course-description">
           
            <h5 class="course-details-title">Objectifs</h5>
          
            <div style="text-align:justify">
            <ul class="course-details-list list-style">
            <li><i class="las la-check-circle"></i>La FAUJEPH de par son objectif encouragera la recherche et possèdera un comité de recherche et chaque étudiant pour avoir droit à la licence, devra préparé son mémoire de sortie (une recherche dans l’un du champ d’études) en accord avec son conseiller scientifique et présenté
                devant un jury.</li>
           
      
            </ul>
        </div>
           
            </div>
        </div>
        </div>
        <div class="col-xl-4 col-lg-12">
        <div class="course-details-widget sidebar-box">
        <h3 class="box-title">Informations</h3>
        <ul class="list-style">
        <li>
        <p><i class="las la-user-graduate"></i> ID Faculte</p>
        <p>FAJ</p>
        </li>
        <li>
        <p><i class="las la-university"></i>Cycle</p>
        <p>5 ans</p>
        </li>
        <li>
        <p><i class="las la-graduation-cap"></i>Niveau</p>
        <p>License</p>
        </li>
        <li>
        <p><i class="las la-book-open"></i>Semestre</p>
        <p>10</p>
        </li>

        </ul>
        <button class="btn style7 d-block w-100 mt-25">S'inscrire</button>
        </div>
        <div class="course-details-widget sidebar-box">
        <div class="row">
        <div class="col-xl-12 offset-xl-0 col-lg-6 offset-lg-3">
        <h3 class="box-title">Doyen(ne)</h3>
        <div class="instructor-card style2">
        <div class="instructor-img">
        <img src="/assets/img/instructor/instructor-1.jpg" alt="Image">
        </div>
        <div class="instructor-info">
        <div class="instructor-social">
        <span><i class="flaticon-share"></i></span>
        <ul class="social-profile style1 list-style">
        <li><a target="_blank" href="#"><i class="lab la-facebook-f"></i> </a></li>
        <li><a target="_blank" href="#"> <i class="lab la-linkedin-in"></i> </a></li>
        <li><a target="_blank" href="#"> <i class="lab la-twitter"></i> </a></li>
        <li><a target="_blank" href="#"> <i class="lab la-instagram"></i> </a></li>
        </ul>
        </div>
        <div class="instructor-name">
        <h6><a href="#">Rousselin</a></h6>
        <p>Doyen</p>
        </div>
        </div>
        </div>
         </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>