<div class="breadcrumb-wrap bg-f br-bg-1">
    <div class="overlay op-8 bg-white"></div>
    <div class="container">
    <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1">
    <div class="breadcrumb-title">
    <h2>Course Details</h2>
    <ul class="breadcrumb-menu list-style">
    <li><a href="/">Home </a></li>
    <li>Description Faculte</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>


    <section class="course-details-wrap ptb-100 bg-selago">
        <div class="container">
        <div class="row gx-5">
        <div class="col-xl-8 col-lg-12">
        <div class="course-details">
        <div class="course-details-img">
        <img src="/assets/img/courses/single-coursess.jpg" alt="Image">
        </div>
       
        <div class="course-description">
        <h3>Faculté des Sciences Informatiques et Technologiques Jérusalem - FASITEJ</h3>
        <p style="text-align:justify">
            Le programme fournit une vision générale de l'informatique d'un point de vue général plutôt que d'un langage de programmation spécifique. Il convient parfaitement aux étudiants de toutes les disciplines qui souhaitent comprendre comment fonctionnent les ordinateurs, comment ils sont conçus et comment ils communiquent entre eux et avec les utilisateurs. Le plan comprend la formation des utilisateurs, la compréhension des informations, l'analyse d'algorithmes, la sécurité du réseau, la protection des données et des bases de données. En outre, il couvre certains aspects juridiques, éthiques et pratiques de ce sujet et d'autre
            </p>
        <h5 class="course-details-title">Liste des matières de maniere globale</h5>
        <div style="text-align:justify">
        <ul class="course-details-list list-style">
            <h6>Technologie Informatique</h6>
        <li><i class="las la-check-circle"></i>Ce cours fournit aux étudiants les connaissances et les compétences nécessaires pour réussir dans l'environnement informatique moderne du monde des affaires. Les étudiants analysent les fonctions du matériel et des logiciels pour résoudre les problèmes courants dans l'environnement de l'entreprise, la gestion des bases de données, les relations clients et la prise de décision.</li>
       <h6>Systèmes Opérationnels</h6>
        <li><i class="las la-check-circle"></i>Ce cours explique les concepts de base du système d'exploitation, de l'interface utilisateur, de la structure informatique, du réseau et de la communication, et de la gestion de la mémoire. Il vérifie l'installation, la configuration, la mise à jour, le dépannage et la réparation des ordinateurs et des réseaux</li>
       <h6>Computation et Structure de Données</h6>
        <li><i class="las la-check-circle"></i>Ce cours se concentre sur les structures de données et les algorithmes en calcul. Il comprend la localisation dynamique, la liaison au stockage séquentiel, les clusters, les files d'attente, les arbres, les graphiques, les tableaux râpés, la recherche et la classification internes et externes. Il met l'accent sur la conception, l'exécution et l'évaluation des algorithmes</li>
  
       <h6>Langages de Programmation</h6>
        <li><i class="las la-check-circle"></i>Ce cours explique l'utilité et les caractéristiques des différents langages de programmation. Il prend en considération le langage des affaires, les programmes et scripts, les bases de données, la programmation orientée vers l'objet avec (Java, JavaScript, Php,Python,C#)</li>
  
       <h6>Systèmes Informatiques</h6>
        <li><i class="las la-check-circle"></i>Ce cours examine l'organisation des systèmes informatiques, l'évaluation des performances des systèmes informatiques, les algorithmes des ordinateurs et les processeurs d'interface et les périphériques. Il considère également l'analyse des performances de l'architecture multiprocesseur et de la technologie de simulation dans le système informatique</li>
  
       <h6>Réseaux Informatiques</h6>
        <li><i class="las la-check-circle"></i>Ce cours examine les données de comunicacion modernes et les réseaux informatiques, en mettant l'accent sur les principes qui sous-tendent la conception du language des réseaux et le rôle des communications dans les systèmes de calcul distribué. Les sujets traités comprennent les routes, les flux, le contrôle de la saturation, la représentation et la communication des données et la programmation de serveurs-clients</li>
  
       <h6>Technologie de l'Internet</h6>
        <li><i class="las la-check-circle"></i>Ce cours présente une étude de l'architecture, les services publics, services et protocoles de l'Internet et du réseau (World Wide Web). Les sujets comprennent leurs languages spécifiques (par exemple, HTML), l'emplacement des sources de données (par exemple les moteurs de recherche), la gestion du site Web, les scripts, TCP / IP, les routeurs IP et les serveurs, le contrôle, la sécurité, le commerce électronique, et les mondes virtuels</li>
  
       <h6>Gestion de Bases de Données</h6>
        <li><i class="las la-check-circle"></i>Ce cours porte sur la gestion des bases de données et explique comment les sources de données peuvent être conçues pour appuyer et gérer les systèmes d'information dans les organisations. Il élabore le cadre de l'analyse et la conception des bases de données en mettant l'accent sur la modélisation et la gestion. Il aborde également les questions de sécurité, les langages de données, le DBMS, l'orientation face aux objets et aux bases de données distribuées</li>
  
  
       <h6>Architecture des Ordinateurs</h6>
        <li><i class="las la-check-circle"></i>Ce cours propose une analyse de l'architecture des ordinateurs, avec un accent particulier sur les principes du design informatique, la conception du jeu d'instructions, de l'architecture du processeur, de l'organisation de la mémoire, de l'architecture des multiprocesseurs, des réseaux d'interconnexion, des dispositifs d'E/O et autres périphériques. Il présente la technologie de l'information et le principe de conception du matériel informatique</li>
  
       <h6>Gestion des Systèmes de Réseaux</h6>
        <li><i class="las la-check-circle"></i>Ce cours enseigne la façon de gérer un système de réseau informatique à travers les tâches suivantes: l'intégration de divers clients en réseau, la conception d'un réseau avec TCP/IP, le changement d'une LAN en Intranet, la centralisation de la distribution des mises à jour des serveurs et des clients et la prépartion pour s'adapter aux nouvelles technologies</li>
  
    
        </ul>
    </div>
       
       
       
        </div>
        </div>
        </div>
        <div class="col-xl-4 col-lg-12">
        <div class="course-details-widget sidebar-box">
        <h3 class="box-title">Informations</h3>
        <ul class="list-style">
        <li>
        <p><i class="las la-user-graduate"></i> ID Faculte</p>
        <p>FASITEJ</p>
        </li>
        <li>
        <p><i class="las la-university"></i>Cycle</p>
        <p>4 ans</p>
        </li>
        <li>
        <p><i class="las la-graduation-cap"></i>Niveau</p>
        <p>License</p>
        </li>
        <li>
        <p><i class="las la-book-open"></i>Semestre</p>
        <p>8</p>
        </li>

        </ul>
        <button class="btn style7 d-block w-100 mt-25">S'inscrire</button>
        </div>
        <div class="course-details-widget sidebar-box">
        <div class="row">
        <div class="col-xl-12 offset-xl-0 col-lg-6 offset-lg-3">
        <!-- <h3 class="box-title">Doyen(ne)</h3> -->
        <div class="instructor-card style2">
        <div class="instructor-img">
        <img src="/assets/img/instructor/instructor-67.jpg" alt="Image">
        </div>
        <div class="instructor-info">
        <div class="instructor-social">
        <span><i class="flaticon-share"></i></span>
        <ul class="social-profile style1 list-style">
        <li><a target="_blank" href="https://facebook.com/"><i class="lab la-facebook-f"></i> </a></li>
        <li><a target="_blank" href="https://linkedin.com/"> <i class="lab la-linkedin-in"></i> </a></li>
        <li><a target="_blank" href="https://twitter.com/"> <i class="lab la-twitter"></i> </a></li>
        <li><a target="_blank" href="https://instagram.com/"> <i class="lab la-instagram"></i> </a></li>
        </ul>
        </div>
        <div class="instructor-name">
        <h6><a href="instructor-profile.html">Msc Desrameaux Jodelin</a></h6>
        <p>Doyen</p>
        </div>
        </div>
        </div>
         </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>