<footer class="footer-wrap style2">
	<div class="footer-shape-1">
	<img src="/assets/img/footer-shape-3.svg" alt="Image">
	</div>
	<div class="footer-shape-2">
	<img src="/assets/img/footer-shape-4.svg" alt="Image">
	</div>
	<div class="footer-shape-3">
	<img src="/assets/img/footer-shape-4.svg" alt="Image">
	</div>
	<div class="footer-top bg-jaguar  pt-100 pb-70">
	<div class="container">
	<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6">
	<div class="footer-widget">
	<h4 class="footer-widget-title">Information</h4>
	<ul class="footer-contact-address list-style">
	<li>
	<i class="flaticon-call"></i>
	<a href="tel:8245678924">+8245678924</a>
	<a href="tel:8245678924">+8245678924</a>
	</li>
	<li>
	<i class="flaticon-mail"></i>
	<a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#8ae2efe6e6e5caefeeffe6effee3e4ece5a4e9e5e7"><span class="__cf_email__" data-cfemail="bad2dfd6d6d5fadfdecfd6dfced3d4dcd594d9d5d7">[email&#160;protected]</span></a>
	<a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#d8abada8a8b7aaac98bdbcadb4bdacf6bbb7b5"><span class="__cf_email__" data-cfemail="62111712120d1016220706170e07164c010d0f">[email&#160;protected]</span></a>
	</li>
	<li>
	<i class="flaticon-pin"></i>
	<p>50 Binary, Stamford South,<br>
	The Bronox NY Newyork</p>
	</li>
	</ul>
	</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
	<div class="footer-widget">
	<h4 class="footer-widget-title">Useful Links</h4>
	<div class="footer-menu">
	<ul class="list-style">
	<li><a href="courses.html">All Courses</a></li>
	<li><a href="faq.html">FAQ's</a></li>
	<li><a href="courses.html">Online Course</a></li>
	<li><a href="terms-conditions.html">Terms & Conditions</a></li>
	<li><a href="privacy-policy.html">Privacy Policy</a></li>
	</ul>
	</div>
	</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
	<div class="footer-widget">
	<h4 class="footer-widget-title">Top Courses</h4>
	<div class="footer-menu">
	<ul class="list-style">
	<li><a href="course-details.html">Learning with Python</a></li>
	<li><a href="course-details.html">Network & Deep Learning</a></li>
	 <li><a href="course-details.html">Business Management</a></li>
	<li><a href="course-details.html">Computer Science</a></li>
	<li><a href="course-details.html">Speak English Professionaly</a></li>
	</ul>
	</div>
	</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
	<div class="footer-widget">
	<h4 class="footer-widget-title">Our Project</h4>
	<div class="project-gallery">
	<div class="project-gallery-item">
	<img src="/assets/img/gallery/project-gallery-1.jpg" alt="Image">
	</div>
	<div class="project-gallery-item">
	<img src="/assets/img/gallery/project-gallery-2.jpg" alt="Image">
	</div>
	<div class="project-gallery-item">
	<img src="/assets/img/gallery/project-gallery-3.jpg" alt="Image">
	</div>
	<div class="project-gallery-item">
	<img src="/assets/img/gallery/project-gallery-4.jpg" alt="Image">
	</div>
	<div class="project-gallery-item">
	<img src="/assets/img/gallery/project-gallery-5.jpg" alt="Image">
	</div>
	<div class="project-gallery-item">
	<img src="/assets/img/gallery/project-gallery-6.jpg" alt="Image">
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	<div class="footer-bottom bg-jaguar">
	<div class="container">
	<div class="row">
	<div class="col-md-12">
	<div class="copyright">
	<p>Developed By <a href="https://jodelindesrameaux.com/">Jodelin Desrameaux</a></p>
	</div>
	</div>
	</div>
	</div>
	</div>
	</footer>