	<!-- Header -->

	<header class="header-wrap style3 bg-white">
		<div class="search-box-full">
		<button class="close-search_box">
		<i class="las la-times"></i>
		</button>
		</div>
		<div class="header-top xl-none">
		<div class="close-header-top xl-none">
		<button type="button"><i class="las la-times"></i></button>
		</div>
		<div class="container-fluid">
		<div class="row align-items-center">
		<div class="col-xl-5 xl-none">
	
		</div>
		</div>
		</div>
		</div>
		<div class="header-bottom bg-transparent">
		<div class="container-fluid">
		<div class="row align-items-center">
		<div class="col-xl-2 col-lg-4 col-md-6 col-6">
		<div class="logo">
		<a href="/">
		<img src="/assets/img/logo-black.png" alt="Image" />
		</a>
		</div>
		</div>
		<div class="col-xl-5 col-lg-8 col-md-6 col-6">
			
<!-- 		
			place for the menu items -->
			<%- include("menu") %> 

		<div class="mobile-bar-wrap">
		
		<div class="mobile-menu xl-none">
		<a href="javascript:void(0)"><i class="las la-bars"></i></a>
		</div>
		</div>
		</div>
		<div class="col-xl-5 lg-none">
		<div class="header-bottom-right">
		<a href="register.html" class="btn style5"><i class="las la-user"></i>Log In/Register</a>
		
		<ul class="social-profile style2 list-style">
		<li><a target="_blank" href="https://facebook.com/"><i class="lab la-facebook-f"></i> </a></li>
		<li><a target="_blank" href="https://linkedin.com/"> <i class="lab la-linkedin-in"></i> </a></li>
		<li><a target="_blank" href="https://twitter.com/"> <i class="lab la-twitter"></i> </a></li>
		<li><a target="_blank" href="https://instagram.com/"> <i class="lab la-instagram"></i> </a></li>
		</ul>
		</div>
		</div>
		</div>
		</div>
		</div>
		</header>	
