<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<title>Universite Jerusalem De Pignon</title>

<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png" />

<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

<link href="/assets/css/jquery-ui-min.css" rel="stylesheet" />

<link href="/assets/css/line-awesome.min.css" rel="stylesheet" />
<link href="/assets/css/flaticon.css" rel="stylesheet" />

<link href="/assets/css/animate.min.css" rel="stylesheet" />

<link href="/assets/css/swiper-min.css" rel="stylesheet" />

<link href="/assets/css/style.css" rel="stylesheet" />
</head>