<div class="main-menu-wrap">
    <div class="menu-close xl-none">
    <a href="javascript:void(0)"><i class="las la-times"></i></a>
    </div>
    <div id="menu" class="text-left">
    <ul class="main-menu list-style">
    <li >
    <a class="active" href="/">Home</a>
 
    </li>
    <li class="has-children">
    <a href="#">Vous etes</a>
    <ul class="sub-menu list-style">
    <li><a href="courses.html"> Etudiant UJEPH</a></li>
    <li>
    <a href="/etudiant/futur_etudiant">Futur Etudiant</a>
    </li>
   
    </ul>
    </li>
     <li class="has-children">
    <a href="#">Formations</a>
    <ul class="sub-menu list-style">
    <li><a href="/faculte/agronomie">Sciences Agronomiques</a></li>
    <li><a href="/faculte/informatique">Sciences Informatiques</a></li>
    <li><a href="/faculte/infirmiere">Sciences Infirmieres</a></li>
    <li><a href="/faculte/administration">Sciences Administratives</a></li>
    <li><a href="/faculte/theologie">Theologie</a></li>
    </ul>
    </li>
    <li >
    <a href="/about">A Propos</a>
    
    </li>
    <li class="has-children">
    <a href="#">Publications</a>
    <ul class="sub-menu list-style">

    <li><a href="shop-details.html">Evenements</a></li>
    <li><a href="wishlist.html">Activites</a></li>
    <li><a href="cart.html">Galerie</a></li>
   
  
    </ul>
    </li>
   

    </ul>
    </div>
    </div>