<div class="breadcrumb-wrap bg-f br-bg-5">
    <div class="overlay op-8 bg-white"></div>
    <div class="container">
    <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1">
    <div class="breadcrumb-title">
    <h2>Futurs Etudiant UJEPH</h2>
    <ul class="breadcrumb-menu list-style">
    <li><a href="/">Home </a></li>
    <li>Futurs Etudiants</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="faq-wrapper ptb-50">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
    <div class="section-title style1 mb-40 text-center">
    <h2>Scolarite et Admission</h2>
   
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
    <div class="faq-content">
    <div class="faq-item">
    <h5>Scolarite</h5>
    <ul class="course-details-list list-style mt-20" style="text-align:justify">
        <li><i class="las la-check-circle"></i>Frais de demande d'admission : 1,000 gourdes</li>
        <li><i class="las la-check-circle"></i>Frais généraux : 35,000 gourdes</li>
        <li><i class="las la-check-circle"></i>Frais par Session : 60,000 gourdes</li>
        <li><i class="las la-check-circle"></i>Frais de Dortoir : 50,000 gourdes</li>
        <li><i class="las la-check-circle"></i>Frais de Dortoir : 50,000 gourdes</li>
        <li><i class="las la-check-circle"></i>Frais de nourriture : 50,000 gourdes</li>
        <li><i class="las la-check-circle"></i>Maillot et Carte d'étudiant : 1,500 gourdes</li>
    </ul>
    </div>
    <div class="faq-item">
    <h5>Au moment de l’inscription, les dossiers de candidature devront comprendre :</h5>
    <p> Seuls les dossiers complets seront sélectionnés.</p>
    <ul class="course-details-list list-style mt-20">
    <li><i class="las la-check-circle"></i>L’acte de naissance ou un extrait des archives</li>
    <li><i class="las la-check-circle"></i>Deux (2) photos d’identité récentes</li>
    <li><i class="las la-check-circle"></i>Une pièce (1) d’identité officielle </li>
    <li><i class="las la-check-circle"></i>Les certificats de fin d’études secondaires : BAC  II  ou équivalent</li>
    <li><i class="las la-check-circle"></i>Une lettre de recommandation signée d'un leader spirituel</li>
    <li><i class="las la-check-circle"></i>Mille gourdes (HTG 1,000) comme frais d’inscription (non remboursable)</li>
    </ul>
    <p>Les dossiers de candidature sont reçus du lundi au vendredi, au Campus de l’Université Jérusalem de Pignon, Haiti, sis au 16, Rue de l'Université Jérusalem, Pignon, Haiti</p>
    </div>
    <div class="faq-item">
    <h5>Profil d'un diplômé de l'UJEPH</h5>
    <p>Conformément à notre mission, nous visons diplômés qui vont développer une vision du monde biblique qui leur permet d'être productifs dans la construction de l'église de Jésus-Christ dans le monde entier. Les diplômés de l'UJEPH seront reconnus pour leur engagement à : </p>
        <ul class="course-details-list list-style mt-20" style="text-align:justify">
            <li><i class="las la-check-square"></i>La prééminence du Christ, mise en évidence par des styles de vie qui reflètent la soumission continue à la Seigneurie du Christ</li>
            <li><i class="las la-check-square"></i> L'autorité des Écritures démontrée par une connaissance de la Bible et de la théologie, ainsi que par sa capacité à interpréter, appliquer et intégrer les Écritures inerrantes dans toute sa vie, conformément à une tradition évangélique orthodoxe. </li>
            <li><i class="las la-check-square"></i> La centralité de l'Église comme en témoigne le service à l'église de Jésus-Christ à travers l'utilisation du ministère et de compétences vocationnelles, de dons spirituels et de talents naturels </li>
            <li><i class="las la-check-square"></i> La tâche de l'évangélisation du monde telle qu'elle est exposée dans la passion pour la proclamation du message unique de l'évangile au monde perdu. </li>
            <li><i class="las la-check-square"></i> Le développement sain des relations, comme en témoignent les relations interpersonnelles, familiales, religieuses et sociales qui affirment la dignité de l'individu et témoignent d'une sensibilité aux cultures et aux communautés diverses </li>
            <li><i class="las la-check-square"></i> La poursuite de l'excellence intellectuelle comme en témoignent la pensée analytique et créative (formulation d'une vision chrétienne du monde), le développement des compétences professionnelles tout au long de la vie, l'expression claire des idées et l'appréciation des valeurs esthétiques </li>
            <li><i class="las la-check-square"></i>L'intendance du corps et des ressources de la vie démontrée dans la pratique d'un mode de vie sain et la gestion judicieuse des ressources que Dieu a données. </li>
            <li><i class="las la-check-square"></i>Les résultats d’apprentissage à l'UJEPH décrivent ce qu’un étudiant est supposé savoir, comprendre et être capable de démontrer après avoir achevé avec succès un Programme de formation. Ce sont des énoncés de signes concrets et vérifiables qui attestent ou certifient comment les compétences prévues, y compris les niveaux requis de connaissance, sont développées ou acquises. </li>
            <li><i class="las la-check-square"></i>Enfin, les diplômés de l'UJEPH seront capables de développer des projets viables à une dimension standard pour contribuer aux premiers pas du renouveau haitien. </li>
       
        </ul>
</div>
    <div class="faq-item">
    <h5>What Financial help can You Get?</h5>
    <p>Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Magnam alias quidem tenetur debitis doloremque harum asperiores saepe ab nesciunt cupiditate sunt ipsam error culpa perspiciatis temporibus odit voluptatibus, quo accusamus ullam ut. Quas repellat minima mollitia fugit iusto rerum animi.</p>
    </div>
    <div class="faq-item">
    <h5>How I Get a Financial Support?</h5>
    <p>Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Magnam alias quidem tenetur debitis doloremque harum asperiores saepe ab nesciunt cupiditate sunt ipsam error culpa perspiciatis temporibus odit voluptatibus, quo accusamus ullam ut. Quas repellat minima mollitia fugit iusto rerum animi.</p>
    </div>
    <div class="faq-item">
    <h5>Tution Fee Loans?</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat totam in aut neque dolores soluta tempora maiores sit.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>