<section class="about-wrap style3 pb-20 ">
    <div class="container">
    <div class="about-dot-shape">
    <img src="/assets/img/about/about-dot-shape.svg" alt="Image">
    </div>
    <div class="about-circle-shape md-none">
    <img src="/assets/img/about/about-circle-shape.svg" alt="Image">
    </div>
    <div class="row gx-5 align-items-center">
    <div class="col-lg-6 offset-lg-1">
    <div class="about-img style3 bg-f about-bg-3">
    </div>
    </div>
    <div class="col-lg-5">
    <div class="content-title about-content">
    <span class="text-green">A Propos</span>
    <h2>A Propos de l'UJEPH</h2>
    <div class="about-desc">
    <p><%= presentation.substr(0,265).concat("....") %> </p>
    <p><%= vision %> </p>
    <p><%= mission %> </p>
    <p><%= objectif %> </p>
    <ul class="feature-list style2 list-style">
    <li><i class="las la-check-circle"></i>Professeurs Qualifies</li>
    <li><i class="las la-check-circle"></i>Dortoir</li>
    <li><i class="las la-check-circle"></i>Laboratoires de sciences</li>
    <li><i class="las la-check-circle"></i>Acces Internet</li>
    <li><i class="las la-check-circle"></i>Diplomes reconnus</li>
    <li><i class="las la-check-circle"></i>Prix Abordables</li>
    </ul>
    </div>
    <div class="about-btn">
    <a href="courses.html" class="btn style3 slide_right"><i class="flaticon-view"></i>Contactez-Nous</a>
    <a href="courses.html" class="btn style6 slide_left"><i class="flaticon-log-in"></i>Appliquer Maitenant</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>