<section class="blog-wrap  pb-20">
    <div class="container">
    <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
    <div class="section-title style1 mb-40 text-center">
    
    <h2>Publications et diffusion</h2>
    </div>
    </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="blog-card style2">
    <div class="blog-img">
    <img src="/assets/img/blog/blog-4.jpg" alt="Image">
    <div class="blog-date">
    <a href="blog-left-sidebar.html">
    22 <span> May</span>
    </a>
    </div>
    </div>
    <div class="blog-info">
    <div class="blog-metainfo">
    <div class="blog-author">
    <div class="blog-author-img">
    <img src="/assets/img/blog/blog-author-1.jpg" alt="Image">
    </div>
    <div class="blog-author-info">
    <p>Armi Orni</p>
    </div>
    </div>
    <a href="blog-left-sidebar.html" class="blog-cat">
    Research
    </a>
    </div>
    <h3 class="blog-title"><a href="blog-details-left-sidebar.html">Learn By Doing With Real World Projects
    other Countries</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipis
    elit, sed do eiusmod tempor.</p>
     <a href="blog-details-left-sidebar.html" class="link">Read More<i class="las la-angle-double-right"></i></a>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="blog-card style2">
    <div class="blog-img">
    <img src="/assets/img/blog/blog-5.jpg" alt="Image">
    <div class="blog-date">
    <a href="blog-left-sidebar.html">
    15 <span> May</span>
    </a>
    </div>
    </div>
    <div class="blog-info">
    <div class="blog-metainfo">
    <div class="blog-author">
    <div class="blog-author-img">
    <img src="/assets/img/blog/blog-author-2.jpg" alt="Image">
    </div>
    <div class="blog-author-info">
    <p>Natalia Jones</p>
    </div>
    </div>
    <a href="blog-left-sidebar.html" class="blog-cat">
    Marketing
    </a>
    </div>
    <h3 class="blog-title"><a href="blog-details-left-sidebar.html">Leading The Way With Lifelong Accessible
    Course</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipis
    elit, sed do eiusmod tempor.</p>
    <a href="blog-details-left-sidebar.html" class="link">Read More<i class="las la-angle-double-right"></i></a>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="blog-card style2">
    <div class="blog-img">
    <img src="/assets/img/blog/blog-6.jpg" alt="Image">
    <div class="blog-date">
    <a href="blog-left-sidebar.html">
    10 <span> April</span>
    </a>
    </div>
    </div>
    <div class="blog-info">
    <div class="blog-metainfo">
    <div class="blog-author">
    <div class="blog-author-img">
    <img src="/assets/img/blog/blog-author-3.jpg" alt="Image">
    </div>
    <div class="blog-author-info">
    <p>Tony Stark</p>
    </div>
    </div>
    <a href="blog-left-sidebar.html" class="blog-cat">
    Business
    </a>
    </div>
    <h3 class="blog-title"><a href="blog-details-left-sidebar.html">Determining The True Goal Of A Good
    Education in Difficult</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipis
     elit, sed do eiusmod tempor.</p>
    <a href="blog-details-left-sidebar.html" class="link">Read More<i class="las la-angle-double-right"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>