<section class="course-wrap pt-100 pb-75">
    <div class="container">
    <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
    <div class="section-title style1 mb-40 text-center">
    <span class="text-green">Our Courses</span>
    <h2>You can Learn Anything From Featured
    Edulet Courses</h2>
    </div>
    </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="course-card style3">
    <div class="course-img">
    <img src="/assets/img/courses/course-1.jpg" alt="Image">
    </div>
    <div class="course-info">
    <h3 class="course-title">
    <a href="course-details.html">Programming For Everybody Getting Started</a>
    </h3>
     <div class="course-rating-wrap">
    <div class="course-category">
    <a href="courses.html">Data Analytics</a>
    </div>
    <ul class="rating style2 list-style">
    <li><i class="las la-star"></i></li>
    <li><i class="las la-star"></i></li>
    <li><i class="las la-star"></i></li>
    <li><i class="las la-star"></i></li>
    <li><i class="las la-star"></i></li>
    </ul>
    </div>
    <div class="course-author-wrap">
    <div class="course-price">
    <span>$80</span>
    </div>
    <div class="course-instructor">
    <div class="instructor-img">
    <img src="/assets/img/courses/instructor-thumb-1.jpg" alt="Image">
    </div>
    <div class="instructor-name">
    <a href="instructor-profile.html">Luis Archer</a>
    </div>
    </div>
    </div>
    <div class="course-metainfo">
    <div class="course-Lectures">
    <a href="course-details.html">20 Lectures</a>
    </div>
    <div class="course-enroll">
    <a href="register.html" class="btn">Enroll Now</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="course-card style3">
    <div class="course-img">
    <img src="/assets/img/courses/course-2.jpg" alt="Image">
    </div>
    <div class="course-info">
    <h3 class="course-title">
    <a href="course-details.html">Teaching Assistant Certificate in Learning School
    </a>
    </h3>
    <div class="course-rating-wrap">
    <div class="course-category">
    <a href="courses.html">Business</a>
    </div>
    <ul class="rating style2 list-style">
    <li><i class="las la-star"></i></li>
    <li><i class="las la-star"></i></li>
    <li><i class="las la-star"></i></li>
    <li><i class="las la-star"></i></li>
    <li><i class="las la-star"></i></li>
    </ul>
    </div>
    <div class="course-author-wrap">
    <div class="course-price">
    <span>$80</span>
    </div>
    <div class="course-instructor">
    <div class="instructor-img">
    <img src="/assets/img/courses/instructor-thumb-3.jpg" alt="Image">
    </div>
    <div class="instructor-name">
    <a href="instructor-profile.html">Jinia Devis</a>
    </div>
    </div>
    </div>
    <div class="course-metainfo">
    <div class="course-Lectures">
    <a href="course-details.html">18 Lectures</a>
    </div>
    <div class="course-enroll">
    <a href="register.html" class="btn">Enroll Now</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
    <div class="course-card style3">
    <div class="course-img">
    <img src="/assets/img/courses/course-3.jpg" alt="Image">
    </div>
    <div class="course-info">
    <h3 class="course-title">
    <a href="course-details.html">Microsoft Excel - From Beginner To Advancedd</a>
    </h3>
    <div class="course-rating-wrap">
    <div class="course-category">
    <a href="courses.html">Business</a>
    </div>
    <ul class="rating style2 list-style">
    <li><i class="las la-star"></i></li>
    <li><i class="las la-star"></i></li>
    <li><i class="las la-star"></i></li>
    <li><i class="las la-star"></i></li>
    <li><i class="las la-star"></i></li>
    </ul>
    </div>
    <div class="course-author-wrap">
    <div class="course-price">
    <span>$80</span>
    </div>
    <div class="course-instructor">
    <div class="instructor-img">
    <img src="/assets/img/courses/instructor-thumb-2.jpg" alt="Image">
    </div>
    <div class="instructor-name">
    <a href="instructor-profile.html">Jhon Alex</a>
    </div>
    </div>
    </div>
    <div class="course-metainfo">
    <div class="course-Lectures">
    <a href="course-details.html">30 Lectures</a>
    </div>
    <div class="course-enroll">
    <a href="register.html" class="btn">Enroll Now</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>