<section class="category-wrap pt-10 pb-75">
    <div class="container">
    <div class="row">
    <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
    <div class="section-title style1 mb-40 text-center">
    <h2>Nos Principales Facultés</h2>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
    <div class="category-item-wrap">
    <div class="category-item">
    <div class="category-icon">
    <i class="flaticon-computer"></i>
    </div>
    <div class="category-name">
    <a href="/faculte/informatique">Scs Informatiques</a>
    <span>4 ans</span>
    </div>
    </div>
    <div class="category-item">
    <div class="category-icon">
    <i class="flaticon-mortarboard-1"></i>
    </div>
    <div class="category-name">
    <a href="/faculte/infirmiere">Scs Infirmières</a>
    <span>4 ans</span>
    </div>
    </div>
    <div class="category-item">
    <div class="category-icon">
    <i class="flaticon-computer"></i>
    </div>
    <div class="category-name">
    <a href="/faculte/agronomie">Scs Agronomiques</a>
    <span>5 ans</span>
    </div>
    </div>
    <div class="category-item">
    <div class="category-icon">
     <i class="flaticon-international-business"></i>
    </div>
    <div class="category-name">
    <a href="/faculte/administration">Scs Administratives </a>
    <span>4 ans</span>
    </div>
    </div>
    <div class="category-item">
    <div class="category-icon">
    <i class="flaticon-data"></i>
    </div>
    <div class="category-name">
    <a href="/faculte/theologie">Theologie</a>
    <span>4 ans</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>