<section class="instructor-wrap pt-30 pb-20 bg-lilac">
    <div class="instructor-shape-1">
    <img src="/assets/img/dots-shape-2.svg" alt="Image">
    </div>
    <div class="instructor-shape-2">
    <img src="/assets/img/counter-bg-shape.png" alt="Image">
    </div>
    <div class="container">
    <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
    <div class="section-title style1 mb-40 text-center">
    
    <h2>Notre Staff Administratif</h2> 
    </div>
    </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-6">
    <div class="instructor-card">
    <div class="instructor-img">
    <img src="/assets/img/instructor/instructor-2.jpg" alt="Image">
    </div>
    <div class="instructor-info">
    <div class="instructor-social">
    <span><i class="flaticon-share"></i></span>
    <ul class="social-profile style1 list-style">
    <li><a target="_blank" href="https://facebook.com/"><i class="lab la-facebook-f"></i> </a></li>
    <li><a target="_blank" href="https://linkedin.com/"> <i class="lab la-linkedin-in"></i> </a></li>
    <li><a target="_blank" href="https://twitter.com/"> <i class="lab la-twitter"></i> </a></li>
    <li><a target="_blank" href="https://instagram.com/"> <i class="lab la-instagram"></i> </a></li>
    </ul>
    </div>
    <div class="instructor-name">
    <h6><a href="instructor-profile.html">Rev Dr Jephté Lucien</a></h6>
    <p>Recteur /Président du conseil de l'université</p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
    <div class="instructor-card">
    <div class="instructor-img">
    <img src="/assets/img/instructor/instructor-3.jpg" alt="Image">
    </div>
    <div class="instructor-info">
    <div class="instructor-social">
    <span><i class="flaticon-share"></i></span>
    <ul class="social-profile style1 list-style">
    <li><a target="_blank" href="https://facebook.com/"><i class="lab la-facebook-f"></i> </a></li>
    <li><a target="_blank" href="https://linkedin.com/"> <i class="lab la-linkedin-in"></i> </a></li>
    <li><a target="_blank" href="https://twitter.com/"> <i class="lab la-twitter"></i> </a></li>
    <li><a target="_blank" href="https://instagram.com/"> <i class="lab la-instagram"></i> </a></li>
    </ul>
    </div>
    <div class="instructor-name">
     <h6><a href="instructor-profile.html">Rev Donald Métélus</a></h6>
    <p>Vice-Recteur Exécutif</p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
    <div class="instructor-card">
    <div class="instructor-img">
    <img src="/assets/img/instructor/instructor-4.jpg" alt="Image">
    </div>
    <div class="instructor-info">
    <div class="instructor-social">
    <span><i class="flaticon-share"></i></span>
    <ul class="social-profile style1 list-style">
    <li><a target="_blank" href="https://facebook.com/"><i class="lab la-facebook-f"></i> </a></li>
    <li><a target="_blank" href="https://linkedin.com/"> <i class="lab la-linkedin-in"></i> </a></li>
    <li><a target="_blank" href="https://twitter.com/"> <i class="lab la-twitter"></i> </a></li>
    <li><a target="_blank" href="https://instagram.com/"> <i class="lab la-instagram"></i> </a></li>
    </ul>
    </div>
    <div class="instructor-name">
    <h6><a href="instructor-profile.html">Rev Pierre Djamps Fernand </a></h6>
    <p>Vice-Recteur aux affaires Académiques</p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
    <div class="instructor-card">
    <div class="instructor-img">
    <img src="/assets/img/instructor/instructor-6.jpg" alt="Image">
    </div>
    <div class="instructor-info">
    <div class="instructor-social">
    <span><i class="flaticon-share"></i></span>
    <ul class="social-profile style1 list-style">
    <li><a target="_blank" href="https://facebook.com/"><i class="lab la-facebook-f"></i> </a></li>
    <li><a target="_blank" href="https://linkedin.com/"> <i class="lab la-linkedin-in"></i> </a></li>
    <li><a target="_blank" href="https://twitter.com/"> <i class="lab la-twitter"></i> </a></li>
    <li><a target="_blank" href="https://instagram.com/"> <i class="lab la-instagram"></i> </a></li>
    </ul>
    </div>
    <div class="instructor-name">
    <h6><a href="instructor-profile.html">Dr Wilmide Delva Lucien </a></h6>
    <p>Vice-rectrice aux affaires Administratives</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>