<div class="hero-wrap style3">
    <div class="hero-slider-item style2 bg-f hero-bg-4">
    <div class="container-fluid">
    <div class="row">
    <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-9 col-sm-8">
    <div class="hero-content">
    
    <h1>Université Jérusalem de Pignon, Haiti</h1>
    <div class="hero-btn">
    <a href="#" class="btn style3 slide_right">Contactez-Nous</a>
    <a href="https://mocha3034.mochahost.com:2096/" class="btn style4 slide_left">Webmail</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="container" >
    <div class="row">
    <div class="col-md-12">
    <div class="promo-wrap style2 bg-haiti">
    <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6">
    <div class="promo-item style3">
    <div class="promo-icon">
    <i class="flaticon-online-learning"></i>
    </div>
    <div class="promo-text">
    <h4>Bourses d'Etudes</h4>
    <p>Appliquer pour une d'étude à l'UJEPH</p>
     </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="promo-item style3">
    <div class="promo-icon">
    <i class="flaticon-calendar"></i>
    </div>
    <div class="promo-text">
    <h4>Calendrier Universitaire</h4>
    <p>Calendrier Académique</p>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="promo-item style3">
    <div class="promo-icon">
    <i class="flaticon-graduated"></i>
    </div>
    <div class="promo-text">
    <h4>Campus</h4>
    <p>Vie estudiantine</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>