<section class="feature-wrap ptb-20" style="margin-top:0px; margin-bottom:0px">
    <div class="container">
    <div class="row gx-5 align-items-center">
    <div class="col-lg-6">
    <div class="feature-bg bg-f feature-bg-1">
    <div class="feature-dot-shape md-none">
    <img src="/assets/img/dot-shape.svg" alt="Image">
    </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="feature-content">
    <div class="content-title mb-30">
    <h2>Pourquoi Etudier a l'UJEPH </h2>
    </div>
    <div class="feature-items-wrap list-style">
    <div class="feature-item">
    <div class="feature-icon">
    <i class="flaticon-certificate"></i>
    </div>
    <div class="feature-text">
    <h6>Bourses d'Etudes</h6>
    <p> Nous avons des bourses d'Etudes pour tous les etudiants de dl'universite</p>
    </div>
    </div>
    <div class="feature-item">
    <div class="feature-icon">
    <i class="flaticon-online-course"></i>
    </div>
    <div class="feature-text">
    <h6>Laboratoire</h6>
    <p>Des laboratoires Informatiques et scientifiques sont disponibles pour nos etudiants</p>
    </div>
    </div>
    <div class="feature-item">
    <div class="feature-icon">
    <i class="flaticon-headphones"></i>
    </div>
    <div class="feature-text">
    <h6>Stage a l'etranger</h6>
    <p>Grace a nos partenariats avec differentes universites etrangeres , nos etudiants
        peuvent effectuer des voyages de stage.
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>